.historial-chat-container {  
    box-sizing: border-box; 
    display: flex;
    flex-flow: column wrap;
}

.mensaje-container{
    margin: auto 15px;
    max-width: 50%;
}

.cajita-mensaje{    
    box-shadow: 1px 1px 1px 1px rgba(77, 189, 152, 0.199);
    border-radius: 3%;
    padding: 5px
}

.chatabierto-chat {
    overflow-x: hidden;
}


.propio {
    align-self: flex-end;
}

.ajeno {
    align-self: flex-start;
}

#form-inline {
    width: 100.205% !important;
}

#form-inline:focus {
    width: 100.505% !important;
    outline: none !important;
    outline-width: 0 !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control {
    font-size: 0.9rem !important;
}

.form-control:focus {
    box-shadow: 1px -1px 5px 2px rgba(77, 189, 152, 0.562) !important;
    outline: none !important;
    outline-width: 0 !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: media-slider;
}

#input-mensaje {
    width: 100% !important    
}

#relative-date {
    font-size: 0.6em
}