.historial-chat-container {  
    box-sizing: border-box; 
    display: flex;
    flex-flow: column wrap;
}

.mensaje-container{
    box-shadow: 1px 1px 1px 1px rgba(77, 189, 152, 0.199);
    margin: 5px 15px;
    border-radius: 3%;
    max-width: 50%;
}

.mensaje-container p{
    margin: 15px;
}

.propio {
    align-self: flex-end;
}

.ajeno {
    align-self: flex-start;
}