.principal {
    min-height: 92vh;
    display: grid;
    grid-template: 1fr 60px / repeat(3, 1fr);
    grid-template-areas: 'children children children'
                         'pie pie pie';
    background: rgba(250, 237, 237, 0.89);
}

.navbar {
    grid-area: navbar
}

.children {
    grid-area: children;
    display: grid;
    justify-content: center;
    margin: 2%;
}

.pie {
    grid-area: pie;
}