.pie {
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(90, 90, 90);
    position: relative;
}

.copy{ 
    margin-left: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px
}

@media all and (max-width: 991px) {
    .pie{ 
        display: grid;
        justify-content: center;
    }
    .copy {
        position: relative;
        margin: auto
    }
    
}